<div class="pt4 pb4">

  <div class="w-80 center flex flex-wrap justify-center grey">

    <div class="mw5 w-100 pa3">
      <img class="w-80-ns mw5-ns w-70 db center" src="{{.headshotUrl}}">
      <div class="center mw5 tc">
        <p class="ma2 grey db f4 db">Dan Bogachek</p>
        <a class="ma2 grey" href="https://www.linkedin.com/pub/dan-bogachek/b6/b62/224" target="_blank" id="linkedin"><i
            class="fa fa-linkedin fa-1x"></i></a>
        <a class="ma2 grey" href="https://github.com/danbogachek" target="_blank" id="github"><i
            class="fa fa-github fa-1x"></i></a>
        <a class="ma2 grey" href="mailto:bogachek.daniel@gmail.com" id="mail"><i class="fa fa-envelope fa-1x"></i></a>
        <a class="ma2 grey b no-underline f6" href="{{.resumeUrl}}" id="cv">CV</a>
      </div>
    </div>
    <div class="mw5 w-100 f6-ns f5 pa1">
      <div class="w-80 center pt5-l pt5-m pt3 tl-l tl-m tc">
        <p>Hi. I'm a backend software developer and hardware engineer based in the DMV.</p>
        <p>I'm also a co-founder of <a class="no-underline" style="color: blue;" target="_blank"
            href="https://www.handwrite.io">Handwrite</a>, the
          easiest way to send authentic
          handwritten cards at scale.</p>
      </div>

    </div>


  </div>

</div>