<head>

  <title>{{ .Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base
    href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600+300" rel="stylesheet" type="text/css">

  <!-- Favicons -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <meta name="theme-color" content="#fff">

  <!-- Open Graph -->
  <meta property="og:type" content="business.business">
  <meta property="og:title" content="Dan Bogachek">
  <meta property="og:url" content="/">
  <meta property="og:image" content="/img/og-image.jpg">

  {{ if .IsHome }}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>